@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: white;
  align-items: center;
  background-color: black;
  font-family: Quicksand;
}

*:focus {
  outline: none;
}
